name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: AmoghT23
          outputs: |
            dist/snake.svg?color_snake=#1E90FF&color_dots=#0A1AFF,#1E90FF,#63B8FF,#B0E0FF
            dist/snake-dark.svg?color_snake=#4FC3F7&color_dots=#0D47A1,#1565C0,#1E88E5,#90CAF9

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
