name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: AmoghT23
          outputs: |
            dist/snake.svg?cell_size=16&color_snake=#1E88E5&color_dots=#2BDBDBD,#C8E6C9,#81C784,#66BB6A,#43A047,#2E7D32
            dist/snake-dark.svg?cell_size=16&color_snake=#90CAF9&color_dots=#424242,#2E7D32,#43A047,#66BB6A,#81C784,#C8E6C9

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
