name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: AmoghT23
          outputs: |
            outputs: |
                outputs: |
                    dist/snake.svg?cell_size=16&color_snake=#2E7D32&color_dots=#E0E0E0,#BBDEFB,#64B5F6,#1E88E5
                    dist/snake-dark.svg?cell_size=16&color_snake=#66BB6A&color_dots=#424242,#1E88E5,#42A5F5,#90CAF9



      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
